/* logo 图片设置 */
.cover-main p img {
    width        : 150px;
    border-radius: 50%;
} 
.anchor{
    font-weight: 600;
    color: rgb(171, 201, 227) !important;
}
.cover-main ul li{
    color:rgb(11, 246, 235);
    font-size: 25px;
   
}

